:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --acent-color: #404bbf;
  --background-color: #ffffff;
  --background-btn-filters: #f4f4fd;
  --helper-text: #8e8f99;
  --cornflower: #e7e9fc;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}

/* Navigation */
/* Logo */
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-hover);
  line-height: 1.17
}
.logo-color {
  color: var(--primary-text-color);
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17
}
.menu-list{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.menu-list:hover,
.menu-list:focus{
  color: #404bbf;
}
/* adress */
.phone-mail {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contact-phone {
  color: var(--secondary-text-color);
}
.contact-mail {
  color: var(--secondary-text-color);
}
/* main */
/* selection 1 */
.selection-one {
  background-color: var(--primary-text-color);
}
.big-header {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Button order Serves */
.order-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 55.25px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--text-color-hover);
}
.order-button:hover,
.order-button:focus {
  background-color: var(--acent-color);
  color: var(--background-color);
}
/* selector2 */
.skill-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.description-skill {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* section3 */
.doing-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
/* selection4 */
.header-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.name-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.position-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* footer */
.logo-color-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-btn-filters);
}
.footer {
  background-color: var(--primary-text-color);
}
.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--background-btn-filters);
}
/* Portfolio.html */
/* button */
.all-btn {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  
}
.web-btn {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
  background: var(--background-btn-filters);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
}
.app-btn {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
  color: var(--text-color-hover);
  background: var(--background-btn-filters);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
}
.design-btn {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
  color: var(--text-color-hover);
  background: var(--background-btn-filters);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
}
.marketing-btn {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
  color: var(--text-color-hover);
  background: var(--background-btn-filters);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
}
/* projects */
.name-project{
  font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--primary-text-color);
cursor: pointer;
}
.category-cards{
  font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
cursor: pointer;
}